<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/usr/v1/template/flone/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/style.css">
</head>

<body>

<div th:replace="~{usr/v1/infra/include/head :: head}"></div>

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/usrUi">홈</a>
                </li>
                <li class="active">결제</li>
            </ul>
        </div>
    </div>
</div>
<form id="form" name="form" method = "post" action="/usrpurchaseInst">
<div class="checkout-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="billing-info-wrap">
                    <h3>구매자 정보</h3>
                    <div class="row">
                   		<div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label></label>
                                <input readonly type="text" name="member_seq" th:value="${session.sessSeqUsr}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6"></div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label>이름</label>
                                <input readonly type="text" th:value="${session.sessNameUsr}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label>생년월일</label>
                                <input type="text" th:value="${session.sessBirthdayUsr}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label>휴대폰 번호</label>
                                <input type="text" th:value="${session.sessTelephoneUsr}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label>이메일 주소</label>
                                <input type="text" th:value="${session.sessEmailUsr}">
                            </div>
                        </div>
                    </div>
                    <div class="different-address open-toggle mt-30">
                        <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label>이름</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label>생년월일</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label>휴대폰 번호</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label>이메일 주소</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="your-order-area">
                    <h3>상품 목록</h3>
                    <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-product-info">
                            <div class="your-order-top">
                                <ul>
                                    <li>상품</li>
                                    <li>가격</li>
                                </ul>
                            </div>
                            <div class="your-order-middle">
                                <ul>
                                    <li>
	                                    <span class="order-middle-left" name="plName" th:text="${item.pddName}"></span>
	                                    <th:block th:if="${item.pddSalesNy == 1}">
	                                    <span class="order-price" name="plPrice" th:text="${#numbers.formatInteger(item.pddSalesPrice, 3, 'COMMA')} + '원'"></span>
	                                    </th:block>
	                                    <th:block th:if="${item.pddSalesNy == 0}">
	                                    <span class="order-price" name="plPrice" th:text="${#numbers.formatInteger(item.pddPrice, 3, 'COMMA')} + '원'"></span>
	                                    </th:block>
                                    </li>
                                </ul>
                            </div>
                            <div class="your-order-total">
                                <ul>
                                    <li class="order-total">총 가격</li>
                                    <th:block th:if="${item.pddSalesNy == 1}">
                                    	<li name="plTotalPrice" th:text="${#numbers.formatInteger(item.pddSalesPrice, 3, 'COMMA')} + '원'"></li>
                                    </th:block>
                                    <th:block th:if="${item.pddSalesNy == 0}">
                                    	<li name="plTotalPrice" th:text="${#numbers.formatInteger(item.pddPrice, 3, 'COMMA')} + '원'"></li>
                                    </th:block>
                                </ul>
                            </div>
                            </div>
                    </div>
                    <div class="Place-order mt-25">
                        <a class="btn-hover" id="checkOut">결제하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<div th:replace="~{usr/v1/infra/include/footer :: footer}"></div>









<!-- All JS is here
============================================ -->

<script src="/usr/v1/template/flone/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-v3.6.0.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/popper.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/bootstrap.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/usr/v1/template/flone/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/usr/v1/template/flone/assets/js/main.js"></script>

<script type="text/javascript">

	document.getElementById("btnLogout").onclick = function (){
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/signoutUsrProc"
			,success: function(response) {
				if(response.rt =="success") {
				location.href = "/usrUi";
					
				} else {
					
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});	
	}
	
    // 카카오페이 결제 팝업창 연결
    $(function() {
        $("#checkOut").click(function(e) {
            // 아래 데이터 외에도 필요한 데이터를 원하는 대로 담고, Controller에서 @RequestBody로 받으면 됨
            let data = {
                name: '상품명',    // 카카오페이에 보낼 대표 상품명
                totalPrice: 20000 // 총 결제금액
            };
          
            $.ajax({
                type: 'POST',
                url: '/order/pay/ready',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(response) {
                    location.href = response.next_redirect_pc_url;
                }
            });
        });
    });
	 
	
</script>

</body>

</html>