<!doctype html>
<html class="no-js" lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/usr/v1/template/flone/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/style.css">
</head>

<body>
<div th:replace="~{usr/v1/infra/include/head :: head}"></div>
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/usrUi">홈</a>
                </li>
                <li class="active">
                    <a href="/usrLogin">로그인</a>
                </li>
                <li class="active">
                    <a href="/usrRegister">회원가입</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ms-auto me-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4> 로그인 </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form name="form" id="form" action="/v1/infra/member/signinUsrProc" method="post">
                                        <div>
											<label for="id" class="form-label"></label>
											<input type="text" id="id" name="id" class="form-control" placeholder="아이디" autocomplete="off" required="">
											<div id="idError" class="text-danger" style="display: none;"></div>
										</div>
                                        <div>
											<label for="password" class="form-label"></label>
											<input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" autocomplete="off">
											<div id="passwordError" class="text-danger" style="display: none;"></div>
										</div>
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <input type="checkbox">
                                                <label>로그인 정보 저장</label>
                                                <a href="#">비밀번호 찾기</a>
                                                <a href="#">아이디 찾기/</a>
                                                <a href="/usrRegister">회원가입/</a>
                                            </div>
                                            <button type="button" id="btnSubmit"><span>로그인</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="0_index.html">
                            <h2>STORM</h2>
                        </a>
                    </div>
                    <p>© 2024 <a href="#">STORM</a><br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Github</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Modal -->

<div th:replace="~{usr/v1/infra/include/modal :: modal}"></div>

<!-- Modal end -->









<!-- All JS is here
============================================ -->

<script src="/usr/v1/template/flone/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-v3.6.0.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/popper.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/bootstrap.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/usr/v1/template/flone/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/usr/v1/template/flone/assets/js/main.js"></script>

<script type="text/javascript">
		document.getElementById("btnSubmit").onclick = function (){
			const id = document.getElementById("id");
			const idValue = document.getElementById("id").value.trim();
			const idError = document.getElementById("idError");
			
			var idRegExp = /^[a-zA-Z][0-9a-zA-Z]{0,11}$/;
			if(!idRegExp.test(idValue)){
				idError.innerText = "아이디를 입력해주세요.";
				idError.style.display="";
				id.classList.add("is-invalid");
				id.classList.remove("is-valid");
				id.focus();
				return false;
		    } else {
		    	idError.style.display = "none";
		    	id.classList.remove("is-invalid");
		    	id.classList.add("is-valid");
		    }
			
			const password = document.getElementById("password");
			const passwordValue = document.getElementById("password").value.trim();
			const passwordError = document.getElementById("passwordError");
			
			var passwordRegExp = /^(?=.*[a-zA-Z])(?=.*[!@])(?=.*[0-9]).{8,15}$/
			if(!passwordRegExp.test(passwordValue)){
				passwordError.innerText = "비밀번호 입력해주세요.";
				passwordError.style.display="";
				password.classList.add("is-invalid");
				password.classList.remove("is-valid");
				password.focus();
				return false;
		    } else {
		    	passwordError.style.display = "none";
		    	password.classList.remove("is-invalid");
		    	password.classList.add("is-valid");
		    }
			
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/signinUsrProc"
				/* ,data : $("#formLogin").serialize() */
				,data : { "id" : $("#id").val(), "password" : $("#password").val()}
				,success: function(response) {
					if(response.rt == "success") {
						if(response.changePwd == "true") {
							location.href = "/usrindex";
						} else {
							location.href = "/usrUi";
						}
					} else {
				 		document.getElementById("verticallyCenteredLabel").innerText = "확 인";
				 		document.getElementById("verticallyCenteredLabel2").innerText = "아이디나 비밀번호가 틀렸습니다";
				 		$("#verticallyCentered").modal("show");
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});	
		}
		
		var input = document.getElementById("password");

		input.addEventListener("keypress", function(event) {
		  if (event.key === "Enter") {
		    event.preventDefault();
		    document.getElementById("btnSubmit").click();
		  }
		});	
		
		document.getElementById("btnLogout").onclick = function (){
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/signoutUsrProc"
				,success: function(response) {
					if(response.rt =="success") {
					location.href = "/usrUi";
						
					} else {
						
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});	
		}
		
		
		
		</script>

</body>

</html>