<!doctype html>
<html class="no-js" lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/usr/v1/template/flone/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/style.css">
    
</head>

<body>

<div th:replace="~{usr/v1/infra/include/head :: head}"></div>

<form id = "myform" name = "myform" method = "post" action = "/usrProductUpdt">
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/usrUi">홈</a>
                </li>
                <li class="active">게임 정보 </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details">
                    <div class="product-details-img">
                        <div class="tab-content jump"> 
                            <div id="shop-details-1" class="tab-pane active large-img-style">
                                <img th:src="${item.mainImg}" alt="">
                                <span class="dec-price" th:if="${item.pddsales == null}">Hot</span>
                                <span class="dec-price" th:if="${item.pddsales != null}" th:text="${'-'+ item.pddsales + '%'}"></span>
                                <div class="img-popup-wrap">
                                    <a class="img-popup" th:href="${item.subImg1}"><i class="pe-7s-expand1"></i></a>
                                </div>
                            </div>
                            <div id="shop-details-2" class="tab-pane large-img-style">
                                <img th:src="${item.mainImg}"  alt="">
                                <span class="dec-price" th:if="${item.pddsales == null}">Hot</span>
                                <span class="dec-price" th:if="${item.pddsales != null}" th:text="${'-'+ item.pddsales + '%'}"></span>
                                <div class="img-popup-wrap">
                                    <a class="img-popup" th:href="${item.subImg3}"><i class="pe-7s-expand1"></i></a>
                                </div>
                            </div>
                            <div id="shop-details-3" class="tab-pane large-img-style">
                                <img th:src="${item.mainImg}" alt="">
                                <span class="dec-price" th:if="${item.pddsales == null}">Hot</span>
                                <span class="dec-price" th:if="${item.pddsales != null}" th:text="${'-'+ item.pddsales + '%'}"></span>
                                <div class="img-popup-wrap">
                                    <a class="img-popup" th:href="${item.subImg2}"><i class="pe-7s-expand1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-details-tab nav">
                            <a class="shop-details-overly" href="#shop-details-1" data-bs-toggle="tab">
                                <img th:src="${item.subImg1}"  alt="">
                            </a>
                            <a class="shop-details-overly" href="#shop-details-2" data-bs-toggle="tab">
                                <img th:src="${item.subImg2}" alt="">
                            </a>
                            <a class="shop-details-overly" href="#shop-details-3" data-bs-toggle="tab">
                                <img th:src="${item.subImg3}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content ml-70">
                    <h2 th:text="${item.pddName}"></h2>
                    <div class="product-details-price">
                    	<th:block th:if="${item.pddSalesNy == 1}">
	                        <span id="pddSalesPrice" th:text="${#numbers.formatInteger(item.pddSalesPrice, 3, 'COMMA')} + '원'"></span>
	                        <span class="old" th:text="${#numbers.formatInteger(item.pddPrice, 3, 'COMMA')} + '원'"></span>
                        </th:block>
                        <th:block th:if="${item.pddSalesNy == 0}">
	                        <span id="pddSalesPrice" th:text="${#numbers.formatInteger(item.pddPrice, 3, 'COMMA')} + '원'"></span>
                        </th:block>
                    </div>
                    <div class="pro-details-rating-wrap">
                        <div class="pro-details-rating">
                        	<th:block th:if="${avg.prReviewAvg == 0}">
                            	<i class="fa fa-star-o"></i>
                            	<i class="fa fa-star-o"></i>
	                            <i class="fa fa-star-o"></i>
	                            <i class="fa fa-star-o"></i>
	                            <i class="fa fa-star-o"></i>
                            </th:block>
                        	<th:block th:if="${avg.prReviewAvg == 1}">
                            	<i class="fa fa-star-o yellow"></i>
                            	<i class="fa fa-star-o"></i>
	                            <i class="fa fa-star-o"></i>
	                            <i class="fa fa-star-o"></i>
	                            <i class="fa fa-star-o"></i>
                            </th:block>
                            <th:block th:if="${avg.prReviewAvg == 2}">
                            	<i class="fa fa-star-o yellow"></i>
                            	<i class="fa fa-star-o yellow"></i>
	                            <i class="fa fa-star-o"></i>
	                            <i class="fa fa-star-o"></i>
	                            <i class="fa fa-star-o"></i>
                            </th:block>
                            <th:block th:if="${avg.prReviewAvg == 3}">
                            	<i class="fa fa-star-o yellow"></i>
                            	<i class="fa fa-star-o yellow"></i>
	                            <i class="fa fa-star-o yellow"></i>
	                            <i class="fa fa-star-o"></i>
	                            <i class="fa fa-star-o"></i>
                            </th:block>
                            <th:block th:if="${avg.prReviewAvg == 4}">
                            	<i class="fa fa-star-o yellow"></i>
                            	<i class="fa fa-star-o yellow"></i>
	                            <i class="fa fa-star-o yellow"></i>
	                            <i class="fa fa-star-o yellow"></i>
	                            <i class="fa fa-star-o"></i>
                            </th:block>
                            <th:block th:if="${avg.prReviewAvg == 5}">
                            	<i class="fa fa-star-o yellow"></i>
                            	<i class="fa fa-star-o yellow"></i>
	                            <i class="fa fa-star-o yellow"></i>
	                            <i class="fa fa-star-o yellow"></i>
	                            <i class="fa fa-star-o yellow"></i>
                            </th:block>
                        </div>
                        <span><a href="#" th:text="${vo.totalRows} + '리뷰'"></a></span>
                    </div>
                    <p th:text="${item.pddDesc}"></p>
                    <div class="pro-details-list">
                        <ul>
                            <li th:text="${'- 출시일:' + #dates.format(item.pddDatetimeRel, 'yyyy-MM-dd')}"></li>
                            <li th:text="${'- 개발자:' + item.pddProgramer}"></li>
                            <li th:text="${'- 배급사:' + item.pddDistributor}"></li>
                        </ul>
                    </div>
                    <div class="pro-details-quality">
                        <div class="pro-details-cart btn-hover">
                            <a th:href = "@{/usrCheckOut(pddSeq= ${item.pddSeq})}">구매 하기</a>
                        </div>
                        <div class="pro-details-wishlist">
                            <a href="#"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="pro-details-meta">
                        <span>카테고리 :</span>
                        <ul>
                            <li><a href="#" th:text="${item.pddCategory}"></a></li>
                        </ul>
                    </div>
                    <div class="pro-details-meta">
                        <span>플레이어 지원 :</span>
                        <ul th:each = "list : ${player}" th:if = "${!#lists.isEmpty(list)}">
                            <li><a href="#" th:if="${list.ppPlayer == 1}">싱글플레이어 </a></li>
                            <li><a href="#" th:if="${list.ppPlayer == 2}">멀티플레이어</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-90">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a data-bs-toggle="tab" href="#des-details1">시스템 요구 사항</a>
                <a class="active" data-bs-toggle="tab" href="#des-details2">세부 정보</a>
                <a data-bs-toggle="tab" href="#des-details3" th:text="'리뷰' +'(' + ${vo.totalRows} + ')'"></a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details2" class="tab-pane active">
                    <div class="product-description-wrapper">
                        <p th:text="${item.pddDetail1}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail2}"></p>
                        <p th:text="${item.pddDetail3}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail4}"></p>
                        <p th:text="${item.pddDetail5}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail6}"></p>
                        <p th:text="${item.pddDetail7}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail8}"></p>
                        <p th:text="${item.pddDetail9}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail10}"></p>
                        <p th:text="${item.pddDetail11}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail12}"></p>
                        <p th:text="${item.pddDetail13}"></p>
                        <p th:text="${item.pddDetail14}"></p>
                        <p th:text="${item.pddDetail15}"></p>
                        <p th:text="${item.pddDetail16}"></p>
                    </div>
                </div>
                <div id="des-details1" class="tab-pane">
                	<div th:if = "${#lists.isEmpty(system)}" class = "hover-actions-trigger btn-reveal-trigger position">
                                <span class = "fs-0" style = "padding-top: 12px;">시스템 요구 사항이 없습니다!</span>
                    </div>
                    <div class="product-anotherinfo-wrapper" th:each = "list : ${system}" th:if = "${!#lists.isEmpty(list)}">
	                        <ul>
	                            <li><h4><span th:if = "${list.psSize eq 0}" style="color: blue;">최소 사양 :</span></h4></li>
	                            <li><h4><span th:if = "${list.psSize eq 1}" style="color: blue;">권장 사양 :</span></h4></li>
	                            <li>64비트 프로세서와 운영 체제가 필요합니다</li>
	                            <li><span th:text="${'운영 체재: ' + list.psOs}"></span></li>
	                            <li><span th:text="${'프로세서: ' + list.psCpu}"></span></li>
	                            <li><span th:text="${'메모리: ' + list.psMemory}"></span></li>
	                            <li><span th:text="${'그래픽: ' + list.psGrapic}"></span></li>
	                            <li><span th:text="${'DirectX: ' + list.psDirectX}"></span></li>
	                            <li><span th:text="${'네트워크: ' + list.psNetwork}"></span></li>
	                            <li><span th:text="${'저장공간: ' + list.psDisk}"></span></li>
	                        </ul>
                    </div>
                </div>
                <div id="des-details3" class="tab-pane">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="review-wrapper">
                            <div th:if = "${#lists.isEmpty(review)}" class = "hover-actions-trigger btn-reveal-trigger position">
                                <span class = "fs-0" style = "padding-top: 12px;">작성된 리뷰가 없습니다!</span>
                            </div>
                                <div class="single-review" th:each = "list : ${review}" th:if = "${!#lists.isEmpty(list)}">
                                    <div class="review-img">
                                        <img src="/usr/v1/template/flone/assets/img/testimonial/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4 th:text="${list.prName}"></h4>
                                                </div>
                                                <div class="review-rating">
                                                	<th:block th:if="${list.prReview == 1}">
	                                                    <i class="fa fa-star"></i>
                                                    </th:block>
                                                    <th:block th:if="${list.prReview == 2}">
	                                                    <i class="fa fa-star"></i>
	                                                    <i class="fa fa-star"></i>
                                                   </th:block>
                                                   <th:block th:if="${list.prReview == 3}"> 
	                                                    <i class="fa fa-star"></i>
	                                                    <i class="fa fa-star"></i>
	                                                    <i class="fa fa-star"></i>
                                                  	</th:block>
                                                  	<th:block th:if="${list.prReview == 4}"> 
	                                                    <i class="fa fa-star"></i>
	                                                    <i class="fa fa-star"></i>
	                                                    <i class="fa fa-star"></i>
	                                                    <i class="fa fa-star"></i>
                                                  	</th:block>
                                                  	<th:block th:if="${list.prReview == 5}"> 
	                                                    <i class="fa fa-star"></i>
	                                                    <i class="fa fa-star"></i>
	                                                    <i class="fa fa-star"></i>
	                                                    <i class="fa fa-star"></i>
	                                                    <i class="fa fa-star"></i>
                                                  	</th:block>
                                                </div>
                                            </div>
                                            <div class="review-left">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p th:text=${list.prReviewDesc}></p>
                                        </div>
                                    </div>
                                </div>
<!--                                 <div class="single-review child-review"> -->
<!--                                     <div class="review-img"> -->
<!--                                         <img src="/usr/v1/template/flone/assets/img/testimonial/2.jpg" alt=""> -->
<!--                                     </div> -->
<!--                                     <div class="review-content"> -->
<!--                                         <div class="review-top-wrap"> -->
<!--                                             <div class="review-left"> -->
<!--                                                 <div class="review-name"> -->
<!--                                                     <h4>White Lewis</h4> -->
<!--                                                 </div> -->
<!--                                             </div> -->
<!--                                         </div> -->
<!--                                         <div class="review-bottom"> -->
<!--                                             <p> </p> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                 </div> -->
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="ratting-form-wrapper pl-50">
                                <h3 th:text="${item.pddName} + '리뷰 작성하기'"></h3>
                                <input type="hidden" id="productCd_pddSeq" name="productCd_pddSeq" th:value="${item.pddSeq}">
                                <div class="ratting-form">
	                                <div class="star-box">
	                                    <span>평점 :</span>
	                                    <fieldset>
											<input type="radio" name="prReview" value="5" id="rate1"><label
												for="rate1">★</label>
											<input type="radio" name="prReview" value="4" id="rate2"><label
												for="rate2">★</label>
											<input type="radio" name="prReview" value="3" id="rate3"><label
												for="rate3">★</label>
											<input type="radio" name="prReview" value="2" id="rate4"><label
												for="rate4">★</label>
											<input type="radio" name="prReview" value="1" id="rate5"><label
												for="rate5">★</label>
										</fieldset>
	                                </div>
	                                <div class="row">
	                                    <div class="col-md-6">
	                                        <div class="rating-form-style mb-10">
	                                            <input readonly type="text" id="prName" name="prName" th:value="${session.sessNickNameUsr}" required="">
	                                            <div id="prNameError" class="text-danger" style="display: none;"></div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-12">
	                                        <div class="rating-form-style form-submit">
	                                            <textarea id="prReviewDesc" name="prReviewDesc"></textarea>
	                                            <button type="button" id="btnReview" class="btn">리뷰 작성</button>
	                                        </div>
	                                    </div>
	                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{usr/v1/infra/include/footer :: footer}"></div>
</form>


<!-- Modal -->
<div th:replace="~{usr/v1/infra/include/modal :: modal}"></div>
<!-- Modal end -->









<!-- All JS is here
============================================ -->

<script src="/usr/v1/template/flone/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-v3.6.0.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/popper.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/bootstrap.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/usr/v1/template/flone/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/usr/v1/template/flone/assets/js/main.js"></script>

<script type="text/javascript">


	document.getElementById("btnLogout").onclick = function (){
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/signoutUsrProc"
			,success: function(response) {
				if(response.rt =="success") {
				location.href = "/usrUi";
					
				} else {
					
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});	
	}
	
		document.getElementById("btnReview").onclick = function (){
			const prName = document.getElementById("prName");
			const prNameValue = document.getElementById("prName").value.trim();
			const prNameError = document.getElementById("prNameError");
			
			var prNameRegExp = /^[가-힣0-9a-zA-Z]{2,6}$/;
			if(!prNameRegExp.test(prNameValue)){
				prNameError.innerText = "로그인이 필요합니다";
				prNameError.style.display="";
				prName.classList.add("is-invalid");
				prName.classList.remove("is-valid");
				prName.focus();
				return false;
		    } else {
		    	prNameError.style.display = "none";
		    	prName.classList.remove("is-invalid");
		    	prName.classList.add("is-valid");
		    }
			
			var checked_radio = $('input:radio[name=prReview]:checked').val(); // 선택된 radio의 value 가져오기
			
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/usrProductInst"
				/* ,data : $("#formLogin").serialize() */
				,data : { "prName" : $("#prName").val(), "prReviewDesc" : $("#prReviewDesc").val(), "prReview" : checked_radio, "productCd_pddSeq" : $("#productCd_pddSeq").val()}
				,success: function(response) {
					if(response.rt == "success") {
						if(response.changePwd == "true") {
							location.href = "redirect:/usrProduct";
						} else {
							location.href = "redirect:/usrProduct";
						}
					} else {
				 		document.getElementById("verticallyCenteredLabel").innerText = "확 인";
				 		document.getElementById("verticallyCenteredLabel2").innerText = "일치하는 회원이 존재 하지 않습니다!";
				 		$("#verticallyCentered").modal("show");
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});	
		}
		
		var input = document.getElementById("prReviewDesc");

		input.addEventListener("keypress", function(event) {
		  if (event.key === "Enter") {
		    event.preventDefault();
		    document.getElementById("btnReview").click();
		  }
		});
		
		
		
		
		</script>

</body>

</html>