<!doctype html>
<html class="no-js" lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/usr/v1/template/flone/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/style.css">
</head>

<body>

<div th:replace="~{usr/v1/infra/include/head :: head}"></div>

<form id = "form" name = "form" method = "post" action = "/usrProductUpdt">
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="0_index.html">홈</a>
                </li>
                <li class="active">게임 정보 </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details">
                    <div class="product-details-img">
                        <div class="tab-content jump"> 
                            <div id="shop-details-1" class="tab-pane active large-img-style">
                                <img src="/usr/v1/template/flone/assets/img/slider/deeprock_2.png" alt="">
                                <span class="dec-price">-67%</span>
                                <div class="img-popup-wrap">
                                    <a class="img-popup" href="/usr/v1/template/flone/assets/img/game/deeprock_3.png"><i class="pe-7s-expand1"></i></a>
                                </div>
                            </div>
                            <div id="shop-details-2" class="tab-pane large-img-style">
                                <img src="/usr/v1/template/flone/assets/img/slider/deeprock_2.png" alt="">
                                <span class="dec-price">-67%</span>
                                <div class="img-popup-wrap">
                                    <a class="img-popup" href="/usr/v1/template/flone/assets/img/game/deeprock_4.png"><i class="pe-7s-expand1"></i></a>
                                </div>
                            </div>
                            <div id="shop-details-3" class="tab-pane large-img-style">
                                <img src="/usr/v1/template/flone/assets/img/slider/deeprock_2.png" alt="">
                                <span class="dec-price">-67%</span>
                                <div class="img-popup-wrap">
                                    <a class="img-popup" href="/usr/v1/template/flone/assets/img/game/deeprock_5.png"><i class="pe-7s-expand1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-details-tab nav">
                            <a class="shop-details-overly" href="#shop-details-1" data-bs-toggle="tab">
                                <img src="/usr/v1/template/flone/assets/img/game/deeprock_3.png" alt="">
                            </a>
                            <a class="shop-details-overly" href="#shop-details-2" data-bs-toggle="tab">
                                <img src="/usr/v1/template/flone/assets/img/game/deeprock_4.png" alt="">
                            </a>
                            <a class="shop-details-overly" href="#shop-details-3" data-bs-toggle="tab">
                                <img src="/usr/v1/template/flone/assets/img/game/deeprock_5.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content ml-70">
                    <h2 th:text="${item.pddName}"></h2>
                    <div class="product-details-price">
                        <span th:text="${'&#8361;' + item.pddSalesPrice}"></span>
                        <span class="old" th:text="${'&#8361;' + item.pddPrice}"></span>
                    </div>
                    <div class="pro-details-rating-wrap">
                        <div class="pro-details-rating">
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span><a href="#" th:text="${vo.totalRows} + '리뷰'"></a></span>
                    </div>
                    <p th:text="${item.pddDesc}"></p>
                    <div class="pro-details-list">
                        <ul>
                            <li th:text="${'- 출시일:' + #dates.format(item.pddDatetimeRel, 'yyyy-MM-dd')}"></li>
                            <li th:text="${'- 개발자:' + item.pddProgramer}"></li>
                            <li th:text="${'- 배급사:' + item.pddDistributor}"></li>
                        </ul>
                    </div>
                    <div class="pro-details-quality">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                        </div>
                        <div class="pro-details-cart btn-hover">
                            <a href="#">카트 담기</a>
                        </div>
                        <div class="pro-details-wishlist">
                            <a href="#"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="pro-details-meta">
                        <span>카테고리 :</span>
                        <ul>
                            <li><a href="#" th:text="${item.pddCategory}"></a></li>
                        </ul>
                    </div>
                    <div class="pro-details-meta">
                        <span>플레이어 지원 :</span>
                        <ul>
                            <li><a href="#">싱글플레이어, </a></li>
                            <li><a href="#">멀티플레이어</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-90">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a data-bs-toggle="tab" href="#des-details1">시스템 요구 사항</a>
                <a class="active" data-bs-toggle="tab" href="#des-details2">세부 정보</a>
                <a data-bs-toggle="tab" href="#des-details3" th:text="'리뷰' +'(' + ${vo.totalRows} + ')'"></a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details2" class="tab-pane active">
                    <div class="product-description-wrapper">
                        <p th:text="${item.pddDetail1}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail2}"></p>
                        <p th:text="${item.pddDetail3}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail4}"></p>
                        <p th:text="${item.pddDetail5}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail6}"></p>
                        <p th:text="${item.pddDetail7}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail8}"></p>
                        <p th:text="${item.pddDetail9}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail10}"></p>
                        <p th:text="${item.pddDetail11}"></p>
                        <p style="color: blue;" th:text="${item.pddDetail12}"></p>
                        <p th:text="${item.pddDetail13}"></p>
                        <p th:text="${item.pddDetail14}"></p>
                        <p th:text="${item.pddDetail15}"></p>
                        <p th:text="${item.pddDetail16}"></p>
                    </div>
                </div>
                <div id="des-details1" class="tab-pane">
                	<div th:if = "${#lists.isEmpty(system)}" class = "hover-actions-trigger btn-reveal-trigger position">
                                <span class = "fs-0" style = "padding-top: 12px;">시스템 요구 사항이 없습니다!</span>
                    </div>
                    <div class="product-anotherinfo-wrapper" th:each = "list : ${system}" th:if = "${!#lists.isEmpty(list)}">
	                        <ul>
	                            <li><h4><span th:if = "${list.psSize eq 0}" style="color: blue;">최소 사양 :</span></h4></li>
	                            <li><h4><span th:if = "${list.psSize eq 1}" style="color: blue;">권장 사양 :</span></h4></li>
	                            <li>64비트 프로세서와 운영 체제가 필요합니다</li>
	                            <li><span th:text="${'운영 체재: ' + list.psOs}"></span></li>
	                            <li><span th:text="${'프로세서: ' + list.psCpu}"></span></li>
	                            <li><span th:text="${'메모리: ' + list.psMemory}"></span></li>
	                            <li><span th:text="${'그래픽: ' + list.psGrapic}"></span></li>
	                            <li><span th:text="${'DirectX: ' + list.psDirectX}"></span></li>
	                            <li><span th:text="${'네트워크: ' + list.psNetwork}"></span></li>
	                            <li><span th:text="${'저장공간: ' + list.psDisk}"></span></li>
	                        </ul>
                    </div>
                </div>
                <div id="des-details3" class="tab-pane">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="review-wrapper">
                            <div th:if = "${#lists.isEmpty(review)}" class = "hover-actions-trigger btn-reveal-trigger position">
                                <span class = "fs-0" style = "padding-top: 12px;">작성된 리뷰가 없습니다!</span>
                            </div>
                                <div class="single-review" th:each = "list : ${review}" th:if = "${!#lists.isEmpty(list)}">
                                    <div class="review-img">
                                        <img src="/usr/v1/template/flone/assets/img/testimonial/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4 th:text="${list.prName}"></h4>
                                                </div>
                                                <div class="review-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="review-left">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p th:text=${list.prReviewDesc}></p>
                                        </div>
                                    </div>
                                </div>
<!--                                 <div class="single-review child-review"> -->
<!--                                     <div class="review-img"> -->
<!--                                         <img src="/usr/v1/template/flone/assets/img/testimonial/2.jpg" alt=""> -->
<!--                                     </div> -->
<!--                                     <div class="review-content"> -->
<!--                                         <div class="review-top-wrap"> -->
<!--                                             <div class="review-left"> -->
<!--                                                 <div class="review-name"> -->
<!--                                                     <h4>White Lewis</h4> -->
<!--                                                 </div> -->
<!--                                             </div> -->
<!--                                         </div> -->
<!--                                         <div class="review-bottom"> -->
<!--                                             <p> </p> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                 </div> -->
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="ratting-form-wrapper pl-50">
                                <h3>리뷰 작성하기</h3>
                                <div class="ratting-form">
	                                <div class="star-box">
	                                    <span>평점 :</span>
	                                    <div class="ratting-star">
	                                        <i class="fa fa-star"></i>
	                                        <i class="fa fa-star"></i>
	                                        <i class="fa fa-star"></i>
	                                        <i class="fa fa-star"></i>
	                                        <i class="fa fa-star"></i>
	                                    </div>
	                                </div>
	                                <div class="row">
	                                    <div class="col-md-6">
	                                        <div class="rating-form-style mb-10">
	                                            <input readonly type="text" id="prName" name="prName" th:value="${session.sessNameUsr}">
	                                        </div>
	                                    </div>
	                                    <div class="col-md-12">
	                                        <div class="rating-form-style form-submit">
	                                            <textarea id="prReviewDesc" name="prReviewDesc"></textarea>
	                                            <button type="button" id="btnReview" class="btn">리뷰 작성</button>
	                                        </div>
	                                    </div>
	                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="0_index.html">
                            <h2>STORM</h2>
                        </a>
                    </div>
                    <p>© 2024 <a href="#">STORM</a><br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Github</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</form>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="/usr/v1/template/flone/assets/img/product/quickview-l1.jpg" alt="">
                            </div>
                            <div id="pro-2" class="tab-pane fade">
                                <img src="/usr/v1/template/flone/assets/img/product/quickview-l2.jpg" alt="">
                            </div>
                            <div id="pro-3" class="tab-pane fade">
                                <img src="/usr/v1/template/flone/assets/img/product/quickview-l3.jpg" alt="">
                            </div>
                            <div id="pro-4" class="tab-pane fade">
                                <img src="/usr/v1/template/flone/assets/img/product/quickview-l2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                        <div class="quickview-wrap mt-15">
                            <div class="quickview-slide-active owl-carousel nav nav-style-1" role="tablist">
                                <a class="active" data-bs-toggle="tab" href="#pro-1"><img src="/usr/v1/template/flone/assets/img/product/quickview-s1.jpg" alt=""></a>
                                <a data-bs-toggle="tab" href="#pro-2"><img src="/usr/v1/template/flone/assets/img/product/quickview-s2.jpg" alt=""></a>
                                <a data-bs-toggle="tab" href="#pro-3"><img src="/usr/v1/template/flone/assets/img/product/quickview-s3.jpg" alt=""></a>
                                <a data-bs-toggle="tab" href="#pro-4"><img src="/usr/v1/template/flone/assets/img/product/quickview-s2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <h2>Products Name Here</h2>
                            <div class="product-details-price">
                                <span>$18.00 </span>
                                <span class="old">$20.00 </span>
                            </div>
                            <div class="pro-details-rating-wrap">
                                <div class="pro-details-rating">
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <span>3 Reviews</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>
                            <div class="pro-details-list">
                                <ul>
                                    <li>- 0.5 mm Dail</li>
                                    <li>- Inspired vector icons</li>
                                    <li>- Very modern style  </li>
                                </ul>
                            </div>
                            <div class="pro-details-size-color">
                                <div class="pro-details-color-wrap">
                                    <span>Color</span>
                                    <div class="pro-details-color-content">
                                        <ul>
                                            <li class="blue"></li>
                                            <li class="maroon active"></li>
                                            <li class="gray"></li>
                                            <li class="green"></li>
                                            <li class="yellow"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pro-details-size">
                                    <span>Size</span>
                                    <div class="pro-details-size-content">
                                        <ul>
                                            <li><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">xxl</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                </div>
                                <div class="pro-details-cart btn-hover">
                                    <a href="#">Add To Cart</a>
                                </div>
                                <div class="pro-details-wishlist">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                </div>
                                <div class="pro-details-compare">
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="pro-details-meta">
                                <span>Categories :</span>
                                <ul>
                                    <li><a href="#">Minimal,</a></li>
                                    <li><a href="#">Furniture,</a></li>
                                    <li><a href="#">Electronic</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-meta">
                                <span>Tag :</span>
                                <ul>
                                    <li><a href="#">Fashion, </a></li>
                                    <li><a href="#">Furniture,</a></li>
                                    <li><a href="#">Electronic</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->









<!-- All JS is here
============================================ -->

<script src="/usr/v1/template/flone/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-v3.6.0.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/popper.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/bootstrap.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/usr/v1/template/flone/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/usr/v1/template/flone/assets/js/main.js"></script>

<script type="text/javascript">
		document.getElementById("btnReview").onclick = function (){
			const id = document.getElementById("id");
			const idValue = document.getElementById("id").value.trim();
			const idError = document.getElementById("idError");
			
			var idRegExp = /^[a-zA-Z][0-9a-zA-Z]{0,11}$/;
			if(!idRegExp.test(idValue)){
				idError.innerText = "아이디 입력해주세요.";
				idError.style.display="";
				id.classList.add("is-invalid");
				id.classList.remove("is-valid");
				id.focus();
				return false;
		    } else {
		    	idError.style.display = "none";
		    	id.classList.remove("is-invalid");
		    	id.classList.add("is-valid");
		    }
			
			const password = document.getElementById("password");
			const passwordValue = document.getElementById("password").value.trim();
			const passwordError = document.getElementById("passwordError");
			
			var passwordRegExp = /^(?=.*[a-zA-Z])(?=.*[!@])(?=.*[0-9]).{8,15}$/
			if(!passwordRegExp.test(passwordValue)){
				passwordError.innerText = "비밀번호 입력해주세요.";
				passwordError.style.display="";
				password.classList.add("is-invalid");
				password.classList.remove("is-valid");
				password.focus();
				return false;
		    } else {
		    	passwordError.style.display = "none";
		    	password.classList.remove("is-invalid");
		    	password.classList.add("is-valid");
		    }
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/v1/infra/member/signinXdmProc"
				/* ,data : $("#formLogin").serialize() */
				,data : { "id" : $("#id").val(), "password" : $("#password").val()}
				,success: function(response) {
					if(response.rt == "success") {
						if(response.changePwd == "true") {
							location.href = "/v1/infra/member/memberXdmindex";
						} else {
							location.href = "/v1/infra/member/memberXdmindex";
						}
					} else {
				 		document.getElementById("verticallyCenteredLabel").innerText = "확 인";
				 		document.getElementById("verticallyCenteredLabel2").innerText = "일치하는 회원이 존재 하지 않습니다!";
				 		$("#verticallyCentered").modal("show");
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});	
		}
		
		var input = document.getElementById("password");

		input.addEventListener("keypress", function(event) {
		  if (event.key === "Enter") {
		    event.preventDefault();
		    document.getElementById("btnSubmit").click();
		  }
		});
		
		</script>

</body>

</html>