<!doctype html>
<html class="no-js" lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/usr/v1/template/flone/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/style.css">
    
</head>

<body>

<div th:replace="~{usr/v1/infra/include/head :: head}"></div>

<form id = "form" name = "form" method = "post" action = "/usrShop">
<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/usrUi">홈</a>
                </li>
                <li class="active">상점 </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-95 pb-100">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-bottom-area mt-35">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane">
                            <div class="row">
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="/usr/v1/template/flone/assets/img/product/pro-1.jpg" alt="">
                                                <img class="hover-img" src="/usr/v1/template/flone/assets/img/product/pro-1-1.jpg" alt="">
                                            </a>
                                            <span class="pink">-10%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 60.00</span>
                                                <span class="old">$ 60.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="/usr/v1/template/flone/assets/img/product/pro-2.jpg" alt="">
                                                <img class="hover-img" src="/usr/v1/template/flone/assets/img/product/pro-2-1.jpg" alt="">
                                            </a>
                                            <span class="purple">New</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 60.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="/usr/v1/template/flone/assets/img/product/pro-3.jpg" alt="">
                                                <img class="hover-img" src="/usr/v1/template/flone/assets/img/product/pro-3-1.jpg" alt="">
                                            </a>
                                            <span class="pink">-10%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 60.00</span>
                                                <span class="old">$ 60.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="/usr/v1/template/flone/assets/img/product/pro-4.jpg" alt="">
                                                <img class="hover-img" src="/usr/v1/template/flone/assets/img/product/pro-4-1.jpg" alt="">
                                            </a>
                                            <span class="purple">New</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 60.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="/usr/v1/template/flone/assets/img/product/pro-5.jpg" alt="">
                                                <img class="hover-img" src="/usr/v1/template/flone/assets/img/product/pro-5-1.jpg" alt="">
                                            </a>
                                            <span class="pink">-10%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 60.00</span>
                                                <span class="old">$ 60.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="/usr/v1/template/flone/assets/img/product/pro-6.jpg" alt="">
                                                <img class="hover-img" src="/usr/v1/template/flone/assets/img/product/pro-6-1.jpg" alt="">
                                            </a>
                                            <span class="purple">New</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 60.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="/usr/v1/template/flone/assets/img/product/pro-7.jpg" alt="">
                                                <img class="hover-img" src="/usr/v1/template/flone/assets/img/product/pro-4-1.jpg" alt="">
                                            </a>
                                            <span class="pink">-10%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 60.00</span>
                                                <span class="old">$ 60.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="/usr/v1/template/flone/assets/img/product/pro-8.jpg" alt="">
                                                <img class="hover-img" src="/usr/v1/template/flone/assets/img/product/pro-6.jpg" alt="">
                                            </a>
                                            <span class="purple">New</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 60.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img class="default-img" src="/usr/v1/template/flone/assets/img/product/pro-1.jpg" alt="">
                                                <img class="hover-img" src="/usr/v1/template/flone/assets/img/product/pro-1-1.jpg" alt="">
                                            </a>
                                            <span class="pink">-10%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                            <div class="product-rating">
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>$ 60.00</span>
                                                <span class="old">$ 60.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if = "${#lists.isEmpty(list)}" class = "hover-actions-trigger btn-reveal-trigger position">
                        	<span class = "fs-0" style = "padding-top: 12px;">There are no product!</span>
                        </div>
                   		<div th:each = "list : ${list}" th:if = "${!#lists.isEmpty(list)}">
	                        <div id="shop-2" class="tab-pane active">
	                            <div class="shop-list-wrap mb-30 scroll-zoom">
	                                <div class="row">
	                                    <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6">
	                                        <div class="product-wrap">
	                                            <div class="product-img">
	                                                <a th:href = "@{/usrProduct(pddSeq= ${list.pddSeq})}">
	                                                    <img class="default-img" th:src="${list.mainImg}" alt="">
	                                                </a>
	                                                <th:block th:if="${list.pddSalesNy == 1}">
	                                                	<span class="purple" th:text="${'-'+list.pddsales+'%'}"></span>
                                                	</th:block>
                                                	<th:block th:if="${list.pddSalesNy == 0}">
                                                		<span class="purple">Hot</span>
                                                	</th:block>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-xl-8 col-lg-7 col-md-7 col-sm-6">
	                                        <div class="shop-list-content">
	                                            <h3><a th:href = "@{/usrProduct(pddSeq= ${list.pddSeq})}" th:text = "${list.pddName}"></a></h3>
	                                            <div class="product-list-price">
	                                            	<th:block th:if="${list.pddSalesNy == 1}">
		                                                <span th:text="${#numbers.formatInteger(list.pddSalesPrice, 3, 'COMMA')} + '원'"></span>
		                                                <span class="old" th:text="${#numbers.formatInteger(list.pddPrice, 3, 'COMMA')} + '원'"></span>
	                                                </th:block>
	                                                <th:block th:if="${list.pddSalesNy == 0}">
	                                                	<span th:text="${#numbers.formatInteger(list.pddPrice, 3, 'COMMA')} + '원'"></span>
	                                                </th:block>
	                                            </div>
	                                            <div class="rating-review">
	                                                <div class="product-list-rating">
	                                                	<th:block th:if="${list.prReviewAvg == null}">
							                            	<i class="fa fa-star-o"></i>
							                            	<i class="fa fa-star-o"></i>
							                            	<i class="fa fa-star-o"></i>
							                            	<i class="fa fa-star-o"></i>
							                            	<i class="fa fa-star-o"></i>
							                            </th:block>
	                                                    <th:block th:if="${list.prReviewAvg == 1}">
							                            	<i class="fa fa-star-o yellow"></i>
							                            	<i class="fa fa-star-o"></i>
								                            <i class="fa fa-star-o"></i>
								                            <i class="fa fa-star-o"></i>
								                            <i class="fa fa-star-o"></i>
							                            </th:block>
							                            <th:block th:if="${list.prReviewAvg == 2}">
							                            	<i class="fa fa-star-o yellow"></i>
							                            	<i class="fa fa-star-o yellow"></i>
								                            <i class="fa fa-star-o"></i>
								                            <i class="fa fa-star-o"></i>
								                            <i class="fa fa-star-o"></i>
							                            </th:block>
							                            <th:block th:if="${list.prReviewAvg == 3}">
							                            	<i class="fa fa-star-o yellow"></i>
							                            	<i class="fa fa-star-o yellow"></i>
								                            <i class="fa fa-star-o yellow"></i>
								                            <i class="fa fa-star-o"></i>
								                            <i class="fa fa-star-o"></i>
							                            </th:block>
							                            <th:block th:if="${list.prReviewAvg == 4}">
							                            	<i class="fa fa-star-o yellow"></i>
							                            	<i class="fa fa-star-o yellow"></i>
								                            <i class="fa fa-star-o yellow"></i>
								                            <i class="fa fa-star-o yellow"></i>
								                            <i class="fa fa-star-o"></i>
							                            </th:block>
							                            <th:block th:if="${list.prReviewAvg == 5}">
							                            	<i class="fa fa-star-o yellow"></i>
							                            	<i class="fa fa-star-o yellow"></i>
								                            <i class="fa fa-star-o yellow"></i>
								                            <i class="fa fa-star-o yellow"></i>
								                            <i class="fa fa-star-o yellow"></i>
							                            </th:block>
	                                                </div>
	                                                <a th:href="@{/usrProduct(pddSeq= ${list.pddSeq})}" th:text="${list.count + '리뷰'}"></a>
	                                            </div>
	                                            <p th:text="${list.pddDesc}"></p>
	                                            <div class="shop-list-btn btn-hover">
	                                                <a th:href = "@{/usrProduct(pddSeq= ${list.pddSeq})}">구매 하기</a>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
                       	</div>
                    </div>
                    <nav aria-label="Page Navigation">
	               		<ul class="pagination justify-content-center">
		                    <li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;">
		                        <a class="page-link"  href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|">
		                            <span aria-hidden="true">
		                                <i class="fa fa-angle-double-left"></i>
		                            </span>
		                        </a>
		                    </li>
		                    <li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;">
		                    	<a class="page-link"  th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a>
		                    </li>
		                    <li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;">
		                        <a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
		                            <span aria-hidden="true">
		                                <i class="fa fa-angle-double-right"></i>
		                            </span>
		                        </a>
		                    </li>
	                   </ul>
               		</nav>
                </div>
            </div>
</form>
            <div th:replace="~{usr/v1/infra/include/sidebar :: sidebar}"></div>
        </div>
    </div>
</div>
<div th:replace="~{usr/v1/infra/include/footer :: footer}"></div>



<!-- Modal -->
<div th:replace="~{usr/v1/infra/include/modal :: modal}"></div>
<!-- Modal end -->









<!-- All JS is here
============================================ -->

<script src="/usr/v1/template/flone/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-v3.6.0.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/popper.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/bootstrap.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/usr/v1/template/flone/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/usr/v1/template/flone/assets/js/main.js"></script>

<script type="text/javascript">
		document.getElementById("btnLogout").onclick = function (){
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/signoutUsrProc"
				,success: function(response) {
					if(response.rt =="success") {
					location.href = "/usrUi";
						
					} else {
						
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});	
		}
		
		
// 		document.getElementById("changeRowNum").onchange = function () {
//  	    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
// 		    form.action = "/usrShop";
// 		    form.submit();
// 		}
</script>

<script>
	goList = function (thisPage) {
	    document.querySelector("input[name=thisPage]").value = thisPage;
	    document.querySelector("form[name=form]").action = "/usrShop";
	    document.querySelector("form[name=form]").submit();
	}
</script>

</body>

</html>