<!doctype html>
<html class="no-js" lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/usr/v1/template/flone/assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/usr/v1/template/flone/assets/css/style.css">
</head>

<body>

<div th:replace="~{usr/v1/infra/include/head :: head}"></div>

<div class="slider-area ml-70 mr-70">
    <div class="slider-active owl-carousel nav-style-1 owl-dot-none">
        <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img" style="background-image:url(/usr/v1/template/flone/assets/img/slider/deeprock_2.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-7 ms-auto">
                        <div class="slider-content-2 slider-animated-1">
                            <h3 class="animated" style="color: white;">67% 세일 중</h3>
                            <h1 class="animated" style="color: white;">특별 할인 <br>출시일: 2020년 5월 13일</h1>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="/usrShop">상점 바로가기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img" style="background-image:url(/usr/v1/template/flone/assets/img/slider/gunpoint.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-7 ms-auto">
                        <div class="slider-content-2 slider-animated-1">
                            <h3 class="animated" style="color: white;">85% 세일 중</h3>
                            <h1 class="animated" style="color: white;">특별 할인 <br>출시일: 2013년 6월 4일</h1>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="/usrShop">상점 바로가기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="tab-filter-wrap mb-60">
    <div class="product-tab-list-2 nav">
        <a href="#product-1" data-bs-toggle="tab" >
            <h4>신규 게임  </h4>
        </a>
        <a class="active" href="#product-2" data-bs-toggle="tab">
            <h4>인기 게임 </h4>
        </a>
        <a href="#product-3" data-bs-toggle="tab">
            <h4>할인중</h4>
        </a>
    </div>
    <div class="filter-active">
        <a href="#"><i class="fa fa-plus"></i> filter</a>
    </div>
</div> -->
<div class="product-area pb-60">
    <div class="container">
        <div class="container">
            <div class="section-title text-center mb-50" style="margin-top: 100px;">
                <h2>신규 게임</h2>
            </div>
            <div class="row">
           		<div class="col-xl-3 col-md-6 col-lg-4 col-sm-6" th:each = "list : ${list}" th:if = "${!#lists.isEmpty(list)} and ${list.pddNewNy == 1}">
	                <div class="product-wrap mb-25">
	                    <div class="product-img">
	                        <a th:href="@{/usrProduct(pddSeq= ${list.pddSeq})}">
	                            <img class="default-img" th:src="${list.mainImg}" alt="">
	                            <img class="hover-img" th:src="${list.mainImg2}" alt="">
	                        </a>
	                        <th:block th:if="${list.pddSalesNy == 1}">
	                        	<span class="purple" th:text="${'-'+ list.pddsales +'%'}"></span>
	                        </th:block>
	                        <th:block th:if="${list.pddSalesNy == 0}">
	                        	<span class="purple">New</span>
	                        </th:block>
	                        <div class="product-action">
	                            <div class="pro-same-action pro-wishlist">
	                                <a title="찜" href="#"><i class="pe-7s-like"></i></a>
	                            </div>
	                            <div class="pro-same-action pro-cart">
	                                <a th:href="@{/usrProduct(pddSeq= ${list.pddSeq})}"><i class="pe-7s-cart"></i> 구매 하기</a>
	                            </div>
	                            <div class="pro-same-action pro-quickview">
	                                <a title="빨리 보기" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="product-content text-center">
	                        <h3><a th:href="@{/usrProduct(pddSeq= ${list.pddSeq})}" th:text="${list.pddName}"></a></h3>
	                        <div class="product-rating">
	                            <th:block th:if="${list.prReviewAvg == null}">
	                           		작성된 리뷰가 없습니다.
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 1}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 2}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 3}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 4}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 5}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
	                            </th:block>
	                        </div>
	                        <div class="product-price">
	                        	<th:block th:if="${list.pddSalesNy == 1}">
		                            <span class="old" th:text="${#numbers.formatInteger(list.pddPrice, 3, 'COMMA')} + '원'"></span>
		                            <span th:text="${#numbers.formatInteger(list.pddSalesPrice, 3, 'COMMA')} + '원'">	</span>
	                            </th:block>
	                            <th:block th:if="${list.pddSalesNy == 0}">
	                            	<span th:text="${#numbers.formatInteger(list.pddPrice, 3, 'COMMA')} + '원'"></span>
	                            </th:block>
	                        </div>
	                    </div>
	               	</div>
       			</div>
        	</div>
    	</div>
    	<div class="container">
            <div class="section-title text-center mb-50" style="margin-top: 100px;">
                <h2>인기 게임</h2>
            </div>
            <div class="row">
           		<div class="col-xl-3 col-md-6 col-lg-4 col-sm-6" th:each = "list : ${list}" th:if = "${!#lists.isEmpty(list)} and ${list.pddHotNy == 1}">
	                <div class="product-wrap mb-25">
	                    <div class="product-img">
	                        <a th:href="@{/usrProduct(pddSeq= ${list.pddSeq})}">
	                            <img class="default-img" th:src="${list.mainImg}" alt="">
	                            <img class="hover-img" th:src="${list.mainImg2}" alt="">
	                        </a>
	                        <th:block th:if="${list.pddSalesNy == 1}">
	                        	<span class="purple" th:text="${'-'+ list.pddsales +'%'}"></span>
	                        </th:block>
	                        <th:block th:if="${list.pddSalesNy == 0}">
	                        	<span class="purple">Hot</span>
	                        </th:block>
	                        <div class="product-action">
	                            <div class="pro-same-action pro-wishlist">
	                                <a title="찜" href="#"><i class="pe-7s-like"></i></a>
	                            </div>
	                            <div class="pro-same-action pro-cart">
	                                <a th:href="@{/usrProduct(pddSeq= ${list.pddSeq})}"><i class="pe-7s-cart"></i> 구매 하기</a>
	                            </div>
	                            <div class="pro-same-action pro-quickview">
	                                <a title="빨리 보기" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="product-content text-center">
	                        <h3><a th:href="@{/usrProduct(pddSeq= ${list.pddSeq})}" th:text="${list.pddName}"></a></h3>
	                        <div class="product-rating">
	                            <th:block th:if="${list.prReviewAvg == null}">
	                           		작성된 리뷰가 없습니다.
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 1}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 2}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 3}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 4}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 5}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
	                            </th:block>
	                        </div>
	                        <div class="product-price">
	                        	<th:block th:if="${list.pddSalesNy == 1}">
		                            <span class="old" th:text="${#numbers.formatInteger(list.pddPrice, 3, 'COMMA')} + '원'"></span>
		                            <span th:text="${#numbers.formatInteger(list.pddSalesPrice, 3, 'COMMA')} + '원'">	</span>
	                            </th:block>
	                            <th:block th:if="${list.pddSalesNy == 0}">
	                            	<span th:text="${#numbers.formatInteger(list.pddPrice, 3, 'COMMA')} + '원'"></span>
	                            </th:block>
	                        </div>
	                    </div>
	               	</div>
       			</div>
        	</div>
    	</div>
    	<div class="container">
            <div class="section-title text-center mb-50" style="margin-top: 100px;">
                <h2>할인 게임</h2>
            </div>
            <div class="row">
           		<div class="col-xl-3 col-md-6 col-lg-4 col-sm-6" th:each = "list : ${list}" th:if = "${!#lists.isEmpty(list)} and ${list.pddSalesNy == 1} and ${list.pddNewNy == 0} and ${list.pddHotNy == 0}">
	                <div class="product-wrap mb-25">
	                    <div class="product-img">
	                        <a th:href="@{/usrProduct(pddSeq= ${list.pddSeq})}">
	                            <img class="default-img" th:src="${list.mainImg}" alt="">
	                            <img class="hover-img" th:src="${list.mainImg2}" alt="">
	                        </a>
	                        <th:block th:if="${list.pddSalesNy == 1}">
	                        	<span class="purple" th:text="${'-'+ list.pddsales +'%'}"></span>
	                        </th:block>
	                        <th:block th:if="${list.pddSalesNy == 0}">
	                        	<span class="purple">New</span>
	                        </th:block>
	                        <div class="product-action">
	                            <div class="pro-same-action pro-wishlist">
	                                <a title="찜" href="#"><i class="pe-7s-like"></i></a>
	                            </div>
	                            <div class="pro-same-action pro-cart">
	                                <a th:href="@{/usrProduct(pddSeq= ${list.pddSeq})}"><i class="pe-7s-cart"></i> 구매 하기</a>
	                            </div>
	                            <div class="pro-same-action pro-quickview">
	                                <a title="빨리 보기" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="product-content text-center">
	                        <h3><a th:href="@{/usrProduct(pddSeq= ${list.pddSeq})}" th:text="${list.pddName}"></a></h3>
	                        <div class="product-rating">
	                            <th:block th:if="${list.prReviewAvg == null}">
	                           		작성된 리뷰가 없습니다.
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 1}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 2}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 3}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 4}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o"></i>
	                            </th:block>
	                            <th:block th:if="${list.prReviewAvg == 5}">
	                            	<i class="fa fa-star-o yellow"></i>
	                            	<i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
		                            <i class="fa fa-star-o yellow"></i>
	                            </th:block>
	                        </div>
	                        <div class="product-price">
	                        	<th:block th:if="${list.pddSalesNy == 1}">
		                            <span class="old" th:text="${#numbers.formatInteger(list.pddPrice, 3, 'COMMA')} + '원'"></span>
		                            <span th:text="${#numbers.formatInteger(list.pddSalesPrice, 3, 'COMMA')} + '원'">	</span>
	                            </th:block>
	                            <th:block th:if="${list.pddSalesNy == 0}">
	                            	<span th:text="${#numbers.formatInteger(list.pddPrice, 3, 'COMMA')} + '원'"></span>
	                            </th:block>
	                        </div>
	                    </div>
	               	</div>
       			</div>
        	</div>
    	</div>
	</div>
</div>
<div th:replace="~{usr/v1/infra/include/footer :: footer}"></div>


<!-- Modal -->
<div th:replace="~{usr/v1/infra/include/modal :: modal}"></div>
<!-- Modal end -->









<!-- All JS is here
============================================ -->

<script src="/usr/v1/template/flone/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-v3.6.0.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/popper.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/vendor/bootstrap.min.js"></script>
<script src="/usr/v1/template/flone/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/usr/v1/template/flone/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/usr/v1/template/flone/assets/js/main.js"></script>

<script type="text/javascript">
		document.getElementById("btnLogout").onclick = function (){
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/signoutUsrProc"
				,success: function(response) {
					if(response.rt =="success") {
					location.href = "/usrUi";
						
					} else {
						
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});	
		}
</script>

</body>

</html>