<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maple.infra.code.CodeDao">

	<resultMap type="com.maple.infra.code.CodeDto" id="resultObj2"></resultMap>
	
	<select id = "selectList2" resultMap = "resultObj2">
		select
			b.ifcdSeq
			,b.ifcdName
			,b.ifcdUseNy
			,b.ifcdOrder
			,b.ifcdDesc
			,b.ifcdDatetime
			,b.ifcdDatetimeSvr
			,b.ifcdDelNy
		    ,b.codegroup_ifcgSeq
		    ,a.ifcgName
		from
			code b left join codegroup a on a.ifcgSeq = b.codegroup_ifcgSeq
		where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND ifcdDelNy = #{shDelNy}</if>
			<if test="shUseNy != null and !shUseNy.equals('')">AND ifcdUseNy = #{shUseNy}</if>
			
			<choose>
				<when test="shOption == 1">AND ifcdSeq = #{shValue}</when>
				<when test="shOption == 2">AND ifcdName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND codegroup_ifcgSeq = #{shValue}</when>
				<when test="shOption == 4">AND ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
		order by
			b.ifcdSeq desc
		
	</select>
	  
	  <insert id="insert">
		  insert into code (
			ifcdName
		    ,ifcdUseNy
		    ,ifcdOrder
		    ,ifcdDesc
		    ,ifcdDatetime
		    ,ifcdDatetimeSvr
		    ,ifcdDelNy
		    ,codegroup_ifcgSeq
		) values (
			#{ifcdName}
		    ,#{ifcdUseNy}
		    ,#{ifcdOrder}
		    ,#{ifcdDesc}
		    ,now()
		    ,now()
		    ,0
		    ,#{ifcgSeq}
		)
	  </insert>
	  
	  <select id="selectOne" resultMap="resultObj2">
		  select
				b.ifcdSeq
				,b.ifcdName
				,b.ifcdUseNy
				,b.ifcdOrder
				,b.ifcdDesc
				,b.ifcdDatetime
				,b.ifcdDatetimeSvr
				,b.ifcdDelNy
			from
				code b
			where 1=1
			AND b.ifcdSeq = #{ifcdSeq}
	  </select>
	  
	  <update id="update">
	  	update code
	  	set
	  		ifcdName = #{ifcdName}
	  		,ifcdUseNy = #{ifcdUseNy}
	  		,ifcdOrder = #{ifcdOrder}
	  		,ifcdDesc = #{ifcdDesc}
	  		,ifcdDatetime = now()
	  		,ifcdDatetimeSvr = now()
	  		,ifcdDelNy = #{ifcdDelNy}
	  	where 1=1
	  		and ifcdSeq = #{ifcdSeq}
	  </update>
	  
	  <select id = "selectListCodeGroup" resultMap = "resultObj2">
		select
			a.ifcgSeq
			,a.ifcgName
		from codegroup a
		where 1=1
			and a.ifcgDelNy = 0
		order by
			a.ifcgOrder desc
		
	</select>
	  
	<update id="uelete">
		update code
	  	set
	  		ifcdDelNy = 1
	  	where 1=1
	  		and ifcdSeq = #{ifcdSeq}
	</update>
	  
	<delete id="delete">
		delete from code
	  	where 1=1
	  		and ifcdSeq = #{ifcdSeq}
	</delete>	  
	  
</mapper>