<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maple.infra.productCd.ProductCdDao">

	<resultMap type="com.maple.infra.productCd.ProductCdDto" id="productObj"></resultMap>
	
	<sql id="selectCommon">
		from
			productcd b left join productcg a on a.pdSeq = b.productCg_pdSeq
		where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND pddDelNy = #{shDelNy}</if>
			<if test="shUseNy != null and !shUseNy.equals('')">AND pddUseNy = #{shUseNy}</if>
			
			<choose>
				<when test="shOptionDate == 1">AND b.pddDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND b.pddDatetimeSvr BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
			
			<choose>
				<when test="shOption == 1">AND pddSeq = #{shValue}</when>
				<when test="shOption == 2">AND pddName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND productCg_pdSeq = #{shValue}</when>
				<when test="shOption == 4">AND pddCategory LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectOneCount">
		select count(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id = "selectList2" resultMap = "productObj">
		select bb.* from (
			select
				b.pddSeq
				,b.pddName
				,b.pddCategory
				,b.pddUseNy
				,b.pddOrder
				,b.pddDesc
				,b.pddPrice
				,b.pddsales
				,b.pddSalesPrice
				,b.pddCount
				,b.pddTotalPrice
				,b.pddDatetime
				,b.pddDatetimeSvr
				,b.pddDelNy
				,b.pddSalesNy
				,b.pddProgramer
				,b.pddDistributor
				,b.pddPlus
				,b.pddWish
				,b.pddDetail1
				,b.pddDetail2
				,b.pddDetail3
				,b.pddDetail4
				,b.pddDetail5
				,b.pddDetail6
				,b.pddDetail7
				,b.pddDetail8
				,b.pddDetail9
				,b.pddDetail10
				,b.pddDetail11
				,b.pddDetail12
				,b.pddDetail13
				,b.pddDetail14
				,b.pddDetail15
				,b.pddDetail16
			    ,b.productCg_pdSeq
			    ,a.pdCategory
			<include refid="selectCommon"></include>
			order by
				b.pddSeq desc
		) bb
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	  
	  <insert id="insert">
		  insert into productcd (
			pddName
			,pddCategory
		    ,pddUseNy
		    ,pddOrder
		    ,pddDesc
		    ,pddPrice
		    ,pddsales
		    ,pddSalesPrice
		    ,pddCount
		    ,pddTotalPrice
		    ,pddDatetime
		    ,pddDatetimeSvr
		    ,pddDelNy
		    ,pddSalesNy
		    ,pddDatetimeRel
			,pddProgramer
			,pddDistributor
			,pddPlus
			,pddWish
			,pddDetail1
			,pddDetail2
			,pddDetail3
			,pddDetail4
			,pddDetail5
			,pddDetail6
			,pddDetail7
			,pddDetail8
			,pddDetail9
			,pddDetail10
			,pddDetail11
			,pddDetail12
			,pddDetail13
			,pddDetail14
			,pddDetail15
			,pddDetail16
		    ,productCg_pdSeq
		) values (
			#{pddName}
			,#{pddCategory}
		    ,#{pddUseNy}
		    ,#{pddOrder}
		    ,#{pddDesc}
		    ,#{pddPrice}
		    ,#{pddsales}
		    ,#{pddSalesPrice}
		    ,#{pddCount}
		    ,#{pddTotalPrice}
		    ,now()
		    ,now()
		    ,0
		    ,#{pddSalesNy}
		    ,now()
		    ,#{pddProgramer}
		    ,#{pddDistributor}
		    ,#{pddPlus}
		    ,#{pddWish}
		    ,#{pddDetail1}
		    ,#{pddDetail2}
		    ,#{pddDetail3}
		    ,#{pddDetail4}
		    ,#{pddDetail5}
		    ,#{pddDetail6}
		    ,#{pddDetail7}
		   	,#{pddDetail8}
		   	,#{pddDetail9}
		   	,#{pddDetail10}
		   	,#{pddDetail11}
		    ,#{pddDetail12}
		    ,#{pddDetail13}
		   	,#{pddDetail14}
		   	,#{pddDetail15}
		   	,#{pddDetail16}
		    ,#{pdSeq}
		)
		<selectKey resultType="String" keyProperty="pddSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	  </insert>
	  
	  
	  <select id="selectOne" resultMap="productObj">
		  select
				b.pddSeq
				,b.pddName
				,b.pddCategory
				,b.pddUseNy
				,b.pddOrder
				,b.pddDesc
				,b.pddPrice
				,b.pddsales
				,b.pddSalesPrice
				,b.pddCount
				,b.pddTotalPrice
				,b.pddDatetime
				,b.pddDatetimeSvr
				,b.pddDelNy
				,b.pddSalesNy
				,b.pddProgramer
				,b.pddDistributor
				,b.pddPlus
				,b.pddWish
				,b.pddDetail1
				,b.pddDetail2
				,b.pddDetail3
				,b.pddDetail4
				,b.pddDetail5
				,b.pddDetail6
				,b.pddDetail7
				,b.pddDetail8
				,b.pddDetail9
				,b.pddDetail10
				,b.pddDetail11
				,b.pddDetail12
				,b.pddDetail13
				,b.pddDetail14
				,b.pddDetail15
				,b.pddDetail16
			from
				productcd b
			where 1=1
			AND b.pddSeq = #{pddSeq}
	  </select>
	  
	  <update id="update">
	  	update productcd
	  	set
	  		pddName = #{pddName}
	  		,pddCategory = #{pddCategory}
	  		,pddUseNy = #{pddUseNy}
	  		,pddOrder = #{pddOrder}
	  		,pddDesc = #{pddDesc}
	  		,pddPrice = #{pddPrice}
	  		,pddsales = #{pddsales}
	  		,pddSalesPrice = #{pddSalesPrice}
	  		,pddCount = #{pddCount}
	  		,pddSalesNy = #{pddSalesNy}
	  		,pddDatetime = now()
	  		,pddDatetimeSvr = now()
	  		,pddProgramer = #{pddProgramer}
			,pddDistributor = #{pddDistributor}
			,pddDetail1 = #{pddDetail1}
			,pddDetail2 = #{pddDetail2}
			,pddDetail3 = #{pddDetail3}
			,pddDetail4 = #{pddDetail4}
			,pddDetail5 = #{pddDetail5}
			,pddDetail6 = #{pddDetail6}
			,pddDetail7 = #{pddDetail7}
			,pddDetail8 = #{pddDetail8}
			,pddDetail9 = #{pddDetail9}
			,pddDetail10 = #{pddDetail10}
			,pddDetail11 = #{pddDetail11}
			,pddDetail12 = #{pddDetail12}
			,pddDetail13 = #{pddDetail13}
			,pddDetail14 = #{pddDetail14}
			,pddDetail15 = #{pddDetail15}
			,pddDetail16 = #{pddDetail16}
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	  </update>
	  
	  <insert id="insertUpload">
		insert into codegroupimage (
			cgiDefaultly
			,cgiUseNy
			,cgiDelNy
			,cgiOrder
			,path
			,originalName
			,tableName
			,ext
			,type
			,uuidName
			,size
			,sort
			,regIp
			,regDateTime
			,regDateTimeSvr
			,pSeq
		) values (
			#{cgiDefaultly}
			,#{cgiUseNy}
			,0
			,#{pddSeq}
			,#{path}
			,#{originalName}
			,#{tableName}
			,#{ext}
			,#{type}
			,#{uuidName}
			,#{size}
			,#{sort}
			,#{regIp}
			,now()
			,now()
			,2
		)
	</insert>
	  
	  <select id = "selectListCodeGroup" resultMap = "productObj">
		select
			a.pdSeq
			,a.pdCategory
		from productcg a
		where 1=1
			and a.pdDelNy = 0
		order by
			a.pdOrder desc
		
	</select>
	  
	<update id="uelete">
		update productcd
	  	set
	  		pddDelNy = 1
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	</update>
	  
	<delete id="delete">
		delete from productcd
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	</delete>	  
	  
</mapper>