<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maple.infra.productplayer.ProductPlayerDao">

	<resultMap type="com.maple.infra.productplayer.ProductPlayerDto" id="productObj"></resultMap>
	
	<sql id="selectCommon">
		from
			pddPlayer d left join productCd b on b.pddSeq = d.productCd_pddSeq
		where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND psDelNy = #{shDelNy}</if>
			<if test="shUseNy != null and !shUseNy.equals('')">AND psUseNy = #{shUseNy}</if>
			
<!-- 			<choose> -->
<!-- 				<when test="shOptionDate == 1">AND b.pddDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when> -->
<!-- 				<when test="shOptionDate == 2">AND b.pddDatetimeSvr BETWEEN #{shDateStart} AND #{shDateEnd}</when> -->
<!-- 			</choose> -->
			
			<choose>
				<when test="shOption == 1">AND ppSeq = #{shValue}</when>
				<when test="shOption == 2">AND ppPlayer LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND productCd_pddSeq = #{shValue}</when>
			</choose>
	</sql>
	
	<select id="selectOneCount">
		select count(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id = "selectList2" resultMap = "productObj">
		select dd.* from (
			select
				d.ppSeq
				,d.ppPlayer
				,d.ppUseNy
				,d.ppDelNy
			    ,d.productCd_pddSeq
			    ,b.pddName
			<include refid="selectCommon"></include>
			order by
				d.ppSeq desc
		) dd
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	  
	  <insert id="insert">
		  insert into pddPlayer (
		  	ppPlayer
			,ppUseNy
			,ppDelNy
		    ,productCd_pddSeq
		) values (
			#{ppPlayer}
			,#{ppUseNy}
		    ,0
		    ,#{pddSeq}
		)
		<selectKey resultType="String" keyProperty="ppSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	  </insert>
	  
	  
		
	  
	  <select id="selectOne" resultMap="productObj">
		  select
				d.ppSeq
				,d.ppPlayer
				,d.ppUseNy
				,d.ppDelNy
			    ,d.productCd_pddSeq
			from
				pddPlayer d
			where 1=1
			AND d.ppSeq = #{ppSeq}
	  </select>
	  
	  <update id="update">
	  	update pddPlayer
	  	set
	  		ppPlayer = #{ppPlayer}
			,ppUseNy = #{ppUseNy}
			,ppDelNy = #{ppDelNy}
	  	where 1=1
	  		and ppSeq = #{ppSeq}
	  </update>
	  
	  <select id = "selectListCodeGroup" resultMap = "productObj">
		select
			b.pddSeq
			,b.pddName
		from productCd b
		where 1=1
			and b.pddDelNy = 0
		order by
			b.pddOrder desc
		
	</select>
	  
	<update id="uelete">
		update pddPlayer
	  	set
	  		ppDelNy = 1
	  	where 1=1
	  		and ppSeq = #{ppSeq}
	</update>
	  
	<delete id="delete">
		delete from pddPlayer
	  	where 1=1
	  		and ppSeq = #{ppSeq}
	</delete>	  
	  
</mapper>