<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maple.infra.usrproduct.UsrProductDao">

	<resultMap type="com.maple.infra.usrproduct.UsrProductDto" id="productObj"></resultMap>
	
	<sql id="selectCommon">
		from
			productCd b left join productCg a on a.pdSeq = b.productCg_pdSeq
		where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND pddDelNy = #{shDelNy}</if>
			<if test="shUseNy != null and !shUseNy.equals('')">AND pddUseNy = #{shUseNy}</if>
			
			<choose>
				<when test="shOptionDate == 1">AND b.pddDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND b.pddDatetimeSvr BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
			
			<choose>
				<when test="shOption == 1">AND pddSeq = #{shValue}</when>
				<when test="shOption == 2">AND pddName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND productCg_pdSeq = #{shValue}</when>
				<when test="shOption == 4">AND pddCategory LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectOneCount">
		select count(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id = "selectList2" resultMap = "productObj">
		select bb.* from (
			select
				b.pddSeq
				,b.pddName
				,b.pddCategory
				,b.pddUseNy
				,b.pddOrder
				,b.pddDesc
				,b.pddPrice
				,b.pddsales
				,b.pddSalesPrice
				,b.pddCount
				,b.pddTotalPrice
				,b.pddDatetime
				,b.pddDatetimeSvr
				,b.pddReview
				,b.pddReviewDesc
				,b.pddDelNy
				,b.pddDatetimeRel
				,b.pddProgramer
				,b.pddDistributor
				,b.pddSystem
				,b.pddDetail
				,b.pddPlus
				,b.pddWish
			    ,b.productCg_pdSeq
			    ,a.pdCategory
			<include refid="selectCommon"></include>
			order by
				b.pddSeq desc
		) bb
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	  
	  <insert id="insert">
		  insert into productCd (
			pddName
			,pddCategory
		    ,pddUseNy
		    ,pddOrder
		    ,pddDesc
		    ,pddPrice
		    ,pddsales
		    ,pddSalesPrice
		    ,pddCount
		    ,pddTotalPrice
		    ,pddDatetime
		    ,pddDatetimeSvr
		    ,pddDelNy
		    ,pddDatetimeRel 
			,pddProgramer 
			,pddDistributor
			,pddSystem  
			,pddDetail 
			,pddPlus 
			,pddWish 
		    ,productCg_pdSeq
		) values (
			#{pddName}
			,#{pddCategory}
		    ,#{pddUseNy}
		    ,#{pddOrder}
		    ,#{pddDesc}
		    ,#{pddPrice}
		    ,#{pddsales}
		    ,#{pddSalesPrice}
		    ,#{pddCount}
		    ,#{pddTotalPrice}
		    ,now()
		    ,now()
		    ,0
		    ,#{pddDatetimeRel}
		    ,#{pddProgramer}
		    ,#{pddDistributor}
		    ,#{pddSystem}
		    ,#{pddDetail}
		    ,#{pddPlus}
		    ,#{pddWish}
		    ,#{pdSeq}
		)
		<selectKey resultType="String" keyProperty="pddSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	  </insert>
	  
	  <select id="selectOne" resultMap="productObj">
		  select
				b.pddSeq
				,b.pddName
				,b.pddCategory
				,b.pddUseNy
				,b.pddOrder
				,b.pddDesc
				,b.pddPrice
				,b.pddsales
				,b.pddSalesPrice
				,b.pddCount
				,b.pddTotalPrice
				,b.pddDatetime
				,b.pddDatetimeSvr
				,b.pddReview
				,b.pddReviewDesc
				,b.pddDelNy
				,b.pddDatetimeRel
				,b.pddProgramer
				,b.pddDistributor
				,b.pddSystem
				,b.pddDetail
				,b.pddPlus
				,b.pddWish
			from
				productCd b
			where 1=1
			AND b.pddSeq = #{pddSeq}
	  </select>
	  
	  <update id="update">
	  	update productCd
	  	set
	  		pddName = #{pddName}
	  		,pddCategory = #{pddCategory}
	  		,pddUseNy = #{pddUseNy}
	  		,pddOrder = #{pddOrder}
	  		,pddDesc = #{pddDesc}
	  		,pddPrice = #{pddPrice}
	  		,pddsales = #{pddsales}
	  		,pddSalesPrice = #{pddSalesPrice}
	  		,pddCount = #{pddCount}
	  		,pddTotalPrice = #{pddTotalPrice}
	  		,pddDatetime = now()
	  		,pddDatetimeSvr = now()
	  		,pddReview = #{pddReview}
	  		,pddReviewDesc = #{pddReviewDesc}
	  		,pddDelNy = #{pddDelNy}
			,pddProgramer = #{pddProgramer}
			,pddDistributor = #{pddDistributor}
			,pddSystem = #{pddSystem}
			,pddDetail = #{pddDetail}
			,pddPlus = #{pddPlus}
			,pddWish = #{pddWish}
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	  </update>
	  
	  <select id = "selectListCodeGroup" resultMap = "productObj">
		select
			a.pdSeq
			,a.pdCategory
		from productCg a
		where 1=1
			and a.pdDelNy = 0
		order by
			a.pdOrder desc
		
	</select>
	  
	<update id="uelete">
		update productCd
	  	set
	  		pddDelNy = 1
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	</update>
	  
	<delete id="delete">
		delete from productCd
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	</delete>	  
	  
</mapper>