<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maple.infra.usrproduct.UsrProductDao">

	<resultMap type="com.maple.infra.usrproduct.UsrProductDto" id="productObj"></resultMap>
	
	<sql id="selectCommon">
		from
			productCd b left join productCg a on a.pdSeq = b.productCg_pdSeq
			where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND pddDelNy = #{shDelNy}</if>
			<if test="shUseNy != null and !shUseNy.equals('')">AND pddUseNy = #{shUseNy}</if>
			
			<choose>
				<when test="shOptionDate == 1">AND b.pddDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND b.pddDatetimeSvr BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
			
			<choose>
				<when test="shOption == 1">AND pddSeq = #{shValue}</when>
				<when test="shOption == 2">AND pddName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND productCg_pdSeq = #{shValue}</when>
				<when test="shOption == 4">AND pddCategory LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectOneCount">
		select count(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id = "selectList" resultMap = "productObj">
		select bb.* from (
			select
				b.pddSeq
				,b.pddName
				,b.pddCategory
				,b.pddUseNy
				,b.pddOrder
				,b.pddDesc
				,b.pddPrice
				,b.pddsales
				,b.pddSalesPrice
				,b.pddCount
				,b.pddTotalPrice
				,b.pddDatetime
				,b.pddDatetimeSvr
				,b.pddDelNy
				,b.pddSalesNy
				,b.pddDatetimeRel
				,b.pddProgramer
				,b.pddDistributor
				,b.pddPlus
				,b.pddWish
			    ,b.productCg_pdSeq
			    ,a.pdCategory
			    ,(select count(dd.prSeq) from pddReview dd where 1=1 and dd.productCd_pddSeq = b.pddSeq) as count
			    ,(select ROUND(AVG(dd.prReview)) from pddReview dd where 1=1 and dd.productCd_pddSeq = b.pddSeq) as prReviewAvg
			<include refid="selectCommon"></include>
		) bb
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	  
	  <insert id="insert">
		  insert into pddReview (
			prName
			,prReview
			,prReviewDesc
			,prUseNy
			,prDelNy
			,prOrder
			,prDatetime
			,prDatetimeSvr
			,productCd_pddSeq
		) values (
			#{prName}
			,#{prReview}
			,#{prReviewDesc}
		    ,1
		    ,0
		    ,#{prOrder}
		    ,now()
		    ,now()
		    ,#{productCd_pddSeq}
		)
		<selectKey resultType="String" keyProperty="prSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	  </insert>
		
		
	  
	  <select id="selectOne" resultMap="productObj">
		  select
				b.pddSeq
				,b.pddName
				,b.pddCategory
				,b.pddUseNy
				,b.pddOrder
				,b.pddDesc
				,b.pddPrice
				,b.pddsales
				,b.pddSalesPrice
				,b.pddCount
				,b.pddTotalPrice
				,b.pddDatetime
				,b.pddDatetimeSvr
				,b.pddDelNy
				,b.pddSalesNy
				,b.pddDatetimeRel
				,b.pddProgramer
				,b.pddDistributor
				,b.pddPlus
				,b.pddWish
				,b.pddDetail1
				,b.pddDetail2
				,b.pddDetail3
				,b.pddDetail4
				,b.pddDetail5
				,b.pddDetail6
				,b.pddDetail7
				,b.pddDetail8
				,b.pddDetail9
				,b.pddDetail10
				,b.pddDetail11
				,b.pddDetail12
				,b.pddDetail13
				,b.pddDetail14
				,b.pddDetail15
				,b.pddDetail16
			from
				productCd b  
			where 1=1
				 and b.pddSeq = #{pddSeq}
	  </select>
	  
	  
	  
	  <update id="update">
	  	update productCd
	  	set
	  		pddReview = #{pddReview}
	  		,pddReviewDesc = #{pddReviewDesc}
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	  </update>
	  
	  <update id="changePrice">
	  	update productCd
	  	set
	  		pddPlus = #{pddPlus}
	  		,pddTotalPrice = #{pddTotalPrice}
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	  </update>
	  
	  <select id = "selectListCodeGroup" resultMap = "productObj">
		select
			c.psSeq
			,c.psSize
			,c.psOs
			,c.psCpu
			,c.psMemory
			,c.psGrapic
			,c.psDirectX
			,c.psNetwork
			,c.psDisk
		    ,c.productCd_pddSeq
		from pddSystem c
		where 1=1
			and c.productCd_pddSeq = #{pddSeq}
		
	</select>
	
	<select id = "selectListReview" resultMap = "productObj">
		select
			d.prSeq
			,d.prName
			,d.prReview
			,d.prReviewDesc
			,d.prDatetime
			,d.prDelNy
		    ,d.productCd_pddSeq
		from pddReview d
		where 1=1
			and d.productCd_pddSeq = #{pddSeq}
	</select>
	
	<select id = "selectListPlayer" resultMap = "productObj">
		select
			e.ppSeq
			,e.ppPlayer
			,e.ppUseNy
			,e.ppDelNy
		    ,e.productCd_pddSeq
		from pddPlayer e
		where 1=1
			and e.productCd_pddSeq = #{pddSeq}
	</select>
	
	<select id="selectReviewCount">
		select count(*)
		from pddReview d
		where 1=1
			and d.productCd_pddSeq = #{pddSeq}
	</select>
	
	<select id="reviewAvg">
        SELECT IFNULL(ROUND(AVG(prReview)),0) as prReviewAvg
		FROM pddReview
		WHERE productCd_pddSeq = #{pddSeq};
    </select>
	  
	<update id="uelete">
		update productCd
	  	set
	  		pddDelNy = 1
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	</update>
	  
	<delete id="delete">
		delete from productCd
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	</delete>
	
	<select id = "selectListBuy" resultMap = "productObj">
		select
			f.plImage
			,f.plName
			,f.plPrice
			,f.plCount
			,f.plTotalPrice
			,f.plDelNy
			,f.plDatetime
			,f.plDatetimeSvr
			,f.member_seq
		from purchaseList f
		where 1=1
	</select>
	
	<insert id="insertBuyList">
		  insert into purchaseList (
			plImage
			,plName
			,plPrice
			,plCount
			,plTotalPrice
			,plDelNy
			,plDatetime
			,plDatetimeSvr
			,member_seq
		) values (
			#{plImage}
			,#{plName}
			,#{plPrice}
		    ,1
		    ,#{plTotalPrice}
		    ,0
		    ,now()
		    ,now()
		    ,#{member_seq}
		)
		<selectKey resultType="String" keyProperty="plSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	  </insert>	  
	  
</mapper>