<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maple.infra.usrproduct.UsrProductDao">

	<resultMap type="com.maple.infra.usrproduct.UsrProductDto" id="productObj"></resultMap>
	
	<sql id="selectCommon">
		from
			productcd b left join productcg a on a.pdSeq = b.productCg_pdSeq
			where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND pddDelNy = #{shDelNy}</if>
			<if test="shUseNy != null and !shUseNy.equals('')">AND pddUseNy = #{shUseNy}</if>
			
			<choose>
				<when test="shOptionDate == 1">AND b.pddDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND b.pddDatetimeSvr BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
			
			<choose>
				<when test="shOption == 1">AND pddSeq = #{shValue}</when>
				<when test="shOption == 2">AND pddName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND productCg_pdSeq = #{shValue}</when>
				<when test="shOption == 4">AND pddCategory LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectOneCount">
		select count(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id = "selectList" resultMap = "productObj">
		select bb.* from (
			select
				b.pddSeq
				,b.pddName
				,b.pddCategory
				,b.pddUseNy
				,b.pddOrder
				,b.pddDesc
				,b.pddPrice
				,b.pddsales
				,b.pddSalesPrice
				,b.pddCount
				,b.pddTotalPrice
				,b.pddDatetime
				,b.pddDatetimeSvr
				,b.pddDelNy
				,b.pddSalesNy
				,b.pddHotNy
				,b.pddNewNy
				,b.pddDatetimeRel
				,b.pddProgramer
				,b.pddDistributor
				,b.pddPlus
				,b.pddWish
			    ,b.productCg_pdSeq
			    ,a.pdCategory
			    ,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 1) as mainImg
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 2) as mainImg2
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 3) as subImg1
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 4) as subImg2
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 5	) as subImg3
			    ,(select count(dd.prSeq) from pddreview dd where 1=1 and dd.productCd_pddSeq = b.pddSeq) as count
			    ,(select ROUND(AVG(dd.prReview)) from pddreview dd where 1=1 and dd.productCd_pddSeq = b.pddSeq) as prReviewAvg
			<include refid="selectCommon"></include>
		) bb
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id = "selectList2" resultMap = "productObj">
			select
				b.pddSeq
				,b.pddName
				,b.pddCategory
				,b.pddUseNy
				,b.pddOrder
				,b.pddDesc
				,b.pddPrice
				,b.pddsales
				,b.pddSalesPrice
				,b.pddCount
				,b.pddTotalPrice
				,b.pddDatetime
				,b.pddDatetimeSvr
				,b.pddDelNy
				,b.pddSalesNy
				,b.pddHotNy
				,b.pddNewNy
				,b.pddDatetimeRel
				,b.pddProgramer
				,b.pddDistributor
				,b.pddPlus
				,b.pddWish
			    ,b.productCg_pdSeq
			    ,a.pdCategory
			    ,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 1) as mainImg
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 2) as mainImg2
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 3) as subImg1
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 4) as subImg2
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 5	) as subImg3
			    ,(select count(dd.prSeq) from pddreview dd where 1=1 and dd.productCd_pddSeq = b.pddSeq) as count
			    ,(select ROUND(AVG(dd.prReview)) from pddreview dd where 1=1 and dd.productCd_pddSeq = b.pddSeq) as prReviewAvg
			<include refid="selectCommon"></include>
	</select>
	  
	  <insert id="insert">
		  insert into pddreview (
			prName
			,prReview
			,prReviewDesc
			,prUseNy
			,prDelNy
			,prOrder
			,prDatetime
			,prDatetimeSvr
			,productCd_pddSeq
		) values (
			#{prName}
			,#{prReview}
			,#{prReviewDesc}
		    ,1
		    ,0
		    ,#{prOrder}
		    ,now()
		    ,now()
		    ,#{productCd_pddSeq}
		)
		<selectKey resultType="String" keyProperty="prSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	  </insert>
		
		
	  
	  <select id="selectOne" resultMap="productObj">
		  select
				b.pddSeq
				,b.pddName
				,b.pddCategory
				,b.pddUseNy
				,b.pddOrder
				,b.pddDesc
				,b.pddPrice
				,b.pddsales
				,b.pddSalesPrice
				,b.pddCount
				,b.pddTotalPrice
				,b.pddDatetime
				,b.pddDatetimeSvr
				,b.pddDelNy
				,b.pddSalesNy
				,b.pddDatetimeRel
				,b.pddProgramer
				,b.pddDistributor
				,b.pddPlus
				,b.pddWish
				,b.pddDetail1
				,b.pddDetail2
				,b.pddDetail3
				,b.pddDetail4
				,b.pddDetail5
				,b.pddDetail6
				,b.pddDetail7
				,b.pddDetail8
				,b.pddDetail9
				,b.pddDetail10
				,b.pddDetail11
				,b.pddDetail12
				,b.pddDetail13
				,b.pddDetail14
				,b.pddDetail15
				,b.pddDetail16
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 1) as mainImg
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 2) as mainImg2
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 3) as subImg1
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 4) as subImg2
				,(select gg.path from codegroupimage gg where 1=1 and gg.pSeq = b.pddSeq and gg.cgiDefaultly = 5	) as subImg3
			from
				productcd b  
			where 1=1
				 and b.pddSeq = #{pddSeq}
	  </select>
	  
	  
	  
	  <update id="update">
	  	update productcd
	  	set
	  		pddReview = #{pddReview}
	  		,pddReviewDesc = #{pddReviewDesc}
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	  </update>
	  
	  <update id="changePrice">
	  	update productcd
	  	set
	  		pddPlus = #{pddPlus}
	  		,pddTotalPrice = #{pddTotalPrice}
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	  </update>
	  
	  <select id = "selectListCodeGroup" resultMap = "productObj">
		select
			c.psSeq
			,c.psSize
			,c.psOs
			,c.psCpu
			,c.psMemory
			,c.psGrapic
			,c.psDirectX
			,c.psNetwork
			,c.psDisk
		    ,c.productCd_pddSeq
		from pddsystem c
		where 1=1
			and c.productCd_pddSeq = #{pddSeq}
		
	</select>
	
	<select id="selectOneReview" resultMap="productObj">
		select
			d.prSeq
			,d.prName
		    ,d.prReview
		    ,d.prReviewDesc
		from
			pddreview d
		where 1=1
	</select>
	
	<select id="selectListImage" resultMap = "productObj">
		select
			g.cgiSeq
			,g.path
			,g.originalName
			,g.ext
			,g.uuidName
			,g.pSeq
		from codegroupimage g
		where 1=1
	</select>
	
	<select id = "selectListReview" resultMap = "productObj">
		select
			d.prSeq
			,d.prName
			,d.prReview
			,d.prReviewDesc
			,d.prDatetime
			,d.prDelNy
		    ,d.productCd_pddSeq
		from pddreview d
		where 1=1
			and d.productCd_pddSeq = #{pddSeq}
	</select>
	
	<select id = "selectListPlayer" resultMap = "productObj">
		select
			e.ppSeq
			,e.ppPlayer
			,e.ppUseNy
			,e.ppDelNy
		    ,e.productCd_pddSeq
		from pddplayer e
		where 1=1
			and e.productCd_pddSeq = #{pddSeq}
	</select>
	
	<select id="selectReviewCount">
		select count(*)
		from pddreview d
		where 1=1
			and d.productCd_pddSeq = #{pddSeq}
	</select>
	
	<select id="reviewAvg">
        SELECT IFNULL(ROUND(AVG(prreview)),0) as prReviewAvg
		FROM pddreview
		WHERE productCd_pddSeq = #{pddSeq};
    </select>
	  
	<update id="uelete">
		update productcd
	  	set
	  		pddDelNy = 1
	  	where 1=1
	  		and pddSeq = #{pddSeq}
	</update>
	  
	<delete id="deleteBuyList">
		delete from purchaselist
	  	where 1=1
	  		and plSeq = #{plSeq}
	</delete>
	
	<select id = "selectListBuy" resultMap = "productObj">
		select
			f.plImage
			,f.plName
			,f.plPrice
			,f.plCount
			,f.plTotalPrice
			,f.plDelNy
			,f.plDatetime
			,f.plDatetimeSvr
			,f.member_seq
		from purchaselist f
		where 1=1
	</select>
	
	<insert id="insertBuyList">
		  insert into purchaselist (
			plImage
			,plName
			,plPrice
			,plCount
			,plTotalPrice
			,plDelNy
			,plDatetime
			,plDatetimeSvr
			,member_seq
		) values (
			#{plImage}
			,#{plName}
			,#{plPrice}
		    ,1
		    ,#{plTotalPrice}
		    ,0
		    ,now()
		    ,now()
		    ,#{member_seq}
		)
		<selectKey resultType="String" keyProperty="plSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	  </insert>	  
	  
</mapper>